@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,900&family=Tangerine:wght@400;700&display=swap');

html {
    width:100%;
    max-width: 1440px;
    height:auto;
    margin: 0 auto;
    padding:0;
}

a:focus, 
button:focus, 
.dropdown-wrapper:focus,
.selected:focus, 
img:focus, video:focus, 
.fa-regular:focus, input:focus, 
.x-lightbox:focus, 
.arrow-left:focus, 
.arrow-right:focus {
outline: 2px solid #D3573C;
}

body {
    font-family: "DM Sans", sans-serif;
    width:100%;
    margin: 0 auto;
    padding:0;
}

header {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left:100px;
    width:200px;
    height:50px;
}

h1 {
    width:100%;
    height:100%;
}

.logo {
    width:100%;
    height: 100%;
    object-fit: cover;
}

#main {
    width:100%;
    margin:0 auto;
    padding:0;
}

.photograph-header {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding-left:20px;
    padding-right:20px;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.container-im-id {
    width:200px;
    height:200px;
    border-radius:50%;
}

.photographer-photography-id {
    width:200px;
    height:200px;
    object-fit:cover;
    border-radius:50%;
}

.name-id {
    color: #D3573C;
    font-size: 32px;
    text-align: center;
}

.location-id, .title-photographer-id {
    font-family:"DM Sans";
    font-weight:400;
    text-align: center;
    position:relative;
    margin-top: -30px;
    margin-bottom: 35px;
}

.location-id {
    color:#901C1C;
    font-size:13px;
    line-height:17px;
}

.title-photographer-id {
    color:black;
    font-size:11px;
    line-height:13px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 180px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

#contact_modal {
    display: none;
}

/***************************************************Selecteur filtre**************************************************/
.select-filter {
    background-color:white;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position:absolute;
    margin-top:15px;
    margin-left:100px;
    margin-bottom:40px;
    width:250px;
    border-radius:5px;
    z-index:15;
}

.label-collapse {
    position:relative;
    font-weight:500;
    width:100px;
    margin-left:0px;
}

.dropdown-wrapper {
    display:flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 170px;
    padding: 12px 15px;
    background-color: #901C1C;
    color:white;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-out;
    margin-top: 5px;
    margin-left:0px;
}

.dropdown-wrapper:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    margin-top: 0px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #ffffff transparent;
}

.dropdown-wrapper.is-active {
    border-radius: 5px 5px 0 0;
    background-color: #901C1C;
    box-shadow: none;
    border-bottom: none;
    color: white;
    outline: none;
}

.dropdown-wrapper.is-active:after {
    border-color: #ffffff transparent;
    transform: rotate(180deg);
}

.dropdown-wrapper.is-active .dropdown-list {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    max-height: 400px;
}

.dropdown-list {
    position: absolute;
    color:white;
    top: -20%;
    left: 0;
    right: 0;
    background-color: #901C1C;
    border-radius: 0 0 5px 5px;
    border-top: none;
    border-bottom: none;
    list-style: none;
    transition: all 0.3s ease-out;
    max-height: 0;
    overflow: hidden;
}

/* pour afficher le dropdown */
.dropdown-list.open {
    max-height: 1000px; 
    transition: max-height 0.3s ease-out;
}


.dropdown-list li {
    padding: 0 10px;
    margin-left:-35px;
}

.dropdown-list li:hover a {
    color: white;
    background: #521616;
}

.dropdown-list li:last-of-type a {
    border: none;
}

.dropdown-list a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px 0;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid #e6e8ea;
}
/******************************** Gallery **************************************/
.gallery {
    margin-top: 90px;
    margin-left:100px;
    margin-right:100px;
    margin-bottom: 100px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.element-gallery {
    width:32%;
    height:360px;
    display:flex;
    flex-direction:column;
    margin-bottom: 40px;
}

.box-video {
    width:100%;
    height:300px;
}

.img-gallery {
    width:100%;
    height:300px;
    object-fit: cover;
}

.img-gallery:hover {
    cursor:pointer;
}

.title-img {
    width:90%;
    height:61px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    padding-left:5%;
    padding-right:5%;
    font-weight:400;
    font-size: 1em;
    line-height: 24px;
    color:#901C1C;
}

.txt, .txt-video {
    width:70%;
    font-weight:400;
    font-size: 1em;
    line-height: 24px;
    color:#901C1C;
}

.like-count {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:20%;
}

.link-heart {
    text-decoration: none;
}

.fa-regular.fa-heart {
    padding-left:10px;
    padding-right: 10px;
    font-size:1em;
    line-height:24px;
    position:relative;
    color: #901C1C;
    margin-right: 0;
    cursor: pointer;
}

.like-count .fa-solid  {
    font-weight: bold;
    background: #901C1C;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: #901C1C;
    padding-left:10px;
    padding-right: 10px;
    font-size:1em;
    line-height:24px;
    position:relative;
    margin-right: 0;
}

/* Lecteur vidéo */
.box-video {
    width:100%;
    height:300px;
    position: relative;
    display: block;
    background: black;
}

.video-gallery {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}
/********************************************* Modale formulaire ************************************************/
#form-bg{
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
    background-color: rgba(26, 39, 156, 0.4);
    display:none;
}

.content {
    display:flex;
    margin: 2% auto;
    width: 65%;
    max-width: 669px;
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
    background: #DB8676;
    border-radius: 5px;
    position: absolute;
    overflow: hidden;
    padding-top: 0px;
    padding-bottom:0px;
}

.modal-body {
    width:100%;
    min-height:900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-me-close {
    display:flex;
    flex-direction:row;
    align-items: flex-start;
    justify-content: space-between;
    width:90%;
}
.contact-name {
    position:relative;
    margin-top:-10px;
}

.x-close-modal-form {
    width:8%;
    height:45px;
    margin-top:20px;
}

.Xform {
    width:100%;
    height:100%;
}

.p-contact {
    margin-top:20px;
    font-size:3em;
    color:black;
    font-weight:400;
}

.form-contact {
    margin-top: -30px;
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

.formData {
    width:90%;
    margin:0 auto;
}

label {
    width:100%;
    font-size:2em;
    font-weight:400;
    line-height:46px;
    color:#312E2E;
}

.text-control, .text-control-msg {
    margin-top:10px;
    width:99%;
    height:68px;
}

.text-control-msg {
    min-height: 170px;
}

.btn-submit {
    display:block;
    margin-left:30px;
    text-align:center;
    color:white;
    font-weight:700;
    font-size:1em;
    background: #901C1C;
    padding:23px 50px 23px 50px;
    position:relative;
    margin-top:20px;
    margin-bottom: 10px;
}

#error-first, #error-last, #error-email, #error-msg {
    display: none;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.error-msg {
    color: white;
    font-size: 16px;
}



/*********************************** lightbox *************************************/

#lightbox-bg {
    min-width: 320px;
    display:none;
    flex-direction: column;
	justify-content: center;
	align-items: center;
    background-color: rgba(26, 39, 156, 0.4);
	width:100%;
	height:100%;
	top:0;
	left:0;
    position:fixed;
	overflow-x: hidden;
	overflow-y:hidden;
	z-index:1055;
	outline:0;
}

.box-X {
    min-width: 320px;
    position: relative;
    top:-42%;
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    align-items: center;
    width:100%;
}

.x-lightbox {
    position:relative;
    color:black;
    text-align: right;
    font-size:35px;
    margin-right: 14px;
    color: #901C1C;
    z-index:45;
    text-decoration: none;
}

.body-lightbox {
    width: 65%;
    min-width: 320px;
    background-color: white;
    overflow: hidden;
    height:85%;
	display:flex;
	justify-content: space-between;
	border-radius:3px;
	align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left:auto;
    margin-right:auto;
    overflow: scroll;
	z-index:2;
}

.content-gallery {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.lightbox-image {
    min-width: 320px;
	display:flex;
    flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width:65%;
    height: 90%;
	position:absolute;
	z-index:3;
}

.media-lightbox {
    position:relative;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width:88%;
    min-width:320px;
	max-width:1050px;
	height:83%;
	object-fit:cover;
	display:block;
}

.arrows {
	position:absolute;
	display:flex;
    flex-direction: row;
    align-items: center;
	justify-content: space-between;
	width:65%;
    padding-left:0%;
    padding-right:0%;
	z-index: 5;
    margin: 0;
}

.arrow-left, .arrow-right{
	position:relative;
	font-size:35px;
    color: #901C1C;
    text-decoration: none;
}

.arrow-left:active, .arrow-right:active {
    color: #ff0000;
}

.arrow-left {
	text-align:left;
    margin-left: 14px;
}

.arrow-right {
	text-align:right;
    margin-right: 14px;
}

.title-slide {
    width:88%;
    max-width:1050px;
    position: relative;
    font-size:1.5em;
    color:#901C1C;
    font-weight:400;
    line-height:31px;
    text-align: left;
    margin-top: 0px;
}

/*********************************** Compteur likes *************************************/
.back-total {
    min-width: 320px;
    position:fixed;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:30%;
    height:89px;
    bottom:0;
	left:65%;
    position:fixed;
	overflow-x: hidden;
	overflow-y:hidden;
	outline:0;
}

.all-likes-price {
    margin:0;
    min-width: 320px;
    position:absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left:20px;
    padding-right:20px;
    background-color: #DB8676;
    width:100%;
    height:89px;
}

.total-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left:30px;
    width:23%;
}

#total-likes {
    font-weight:500;
    font-size:24px;
    line-height:32px;
    color:black;
}

.box-of-price {
    width:45%;
    font-weight:500;
    font-size:24px;
    line-height:32px;
    color:black;
}

.total-icon .fa-solid  {
    font-size:1.5em;
    line-height:32px;
    color:black;
}


@media screen and (max-width:768px) {
    html {
        max-width: 768px;
        min-width:371px;
    }

    body {
        display:block;
        margin: 0 auto;
    }

    header {
        flex-direction: column;
        margin:0;
        padding:0;
        justify-content: center;
        align-items: center;
    }

    .logo-link {
        padding-top:50px;
        padding-bottom: 50px;;
        margin:0;
    }

    .photograph-header {
        flex-direction:column;
        justify-content: space-evenly;
        background-color: #FAFAFA;
        height: auto;
        margin: 0 auto;
        padding:0 0 30px 0;
    }

    .article-id {
        position: relative;
        margin-bottom: 20px;
    }

    .contact_button {
        margin-top:10px;
        margin-bottom:20px;
    }

    .content {
        width:100%;
    }

    .select-filter {
        position: relative;
        margin-top: 20;
        margin-bottom:90px;
        margin-left:auto;
        margin-right:auto;
    }

    .gallery {
        flex-direction: column;
        margin:0 auto;
        padding-bottom:50px;
    }

    .content-gallery {
        justify-content: center;
    }

    .element-gallery {
        width:95%;
    }

    .box-image {
        height:600px;
    }

    .back-total {
        box-sizing: border-box;
        min-width: 320px;
        justify-content: center;
        width:100%;
    }

    .all-likes-price {
        margin-right:0px;
    }

    #lightbox-bg {
        min-width: 320px;
        width:100%;
    }

    .box-X {
        width:100%;
        top: -41%;
    }

    .x-lightbox {
        font-size: 30px;
        margin-right: 1px;
    }

    .arrows {
        width:100%;
    }

    .arrow-left, .arrow-right {
        font-size: 30px;
    }

    .arrow-left {
        margin-left: 4px;
    }

    .arrow-right {
        margin-right: 4px;
    }

    .lightbox-image {
        min-width: 320px;
        width:100%;
        justify-content: center;
        align-items: center;
    }

    .body-lightbox {
        min-width: 320px;
        width:100%;
        height:85%;
        padding-top:5%;
        padding-bottom: 5%;
    }
    
    .media-lightbox {
        object-fit:cover;
        height:75%;
    }
}